<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <h2>Blog</h2>
  </div>
  <div class="card-body">
    <p>
      <strong>Title:</strong>
      <%= @blog.title %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @blog.content %>
    </p>

    <p>
      <strong>Sport:</strong>
      <%= @blog.sport %>
    </p>

    <%= link_to 'Edit', edit_blog_path(@blog) %> |
    <%= link_to 'Back', blogs_path %>
  </div>
</div>

